In [33]:
import FinanceDataReader as fdr 

df = fdr.DataReader("005930", start='2021', end='2022')
df = df[['Close']]
df

            Close
Date
2021-01-04  83000
2021-01-05  83900
2021-01-06  82200
2021-01-07  82900
2021-01-08  88800
...           ...
2021-12-24  80500
2021-12-27  80200
2021-12-28  80300
2021-12-29  78800
2021-12-30  78300

[248 rows x 1 columns]

In [35]:
short_n = 9
long_n = 26
signal_n = 13

df['Short'] = df['Close'].ewm(span=short_n, adjust=False).mean()
df['Long'] = df['Close'].ewm(span=long_n, adjust=False).mean()
df['MACD'] = df['Short'] - df['Long']

df['Signal'] = df['MACD'].ewm(span=signal_n, adjust=False).mean()
df['MACD Oscillator'] = df['MACD'] - df['Signal']
df

,Close,Short,Long,MACD,Signal,MACD Oscillator
Date,,,,,,
2021-01-04,83000,83000.000000,83000.000000,0.000000,0.000000,0.000000
2021-01-05,83900,83180.000000,83066.666667,113.333333,16.190476,97.142857
2021-01-06,82200,82984.000000,83002.469136,-18.469136,11.239103,-29.708239
2021-01-07,82900,82967.200000,82994.878829,-27.678829,5.679398,-33.358228
2021-01-08,88800,84133.760000,83424.887805,708.872195,106.135512,602.736683
...,...,...,...,...,...,...
2021-12-24,80500,78631.281808,76456.330542,2174.951266,1803.111668,371.839598
2021-12-27,80200,78945.025446,76733.639391,2211.386056,1861.436581,349.949475
2021-12-28,80300,79216.020357,76997.814251,2218.206107,1912.403656,305.802451
2021-12-29,78800,79132.816286,77131.309491,2001.506794,1925.132676,76.374119
2021-12-30,78300,78966.253029,77217.879159,1748.373870,1899.881418,-151.507548

## 함수이름: macdOscillator_fn

## 함수에 사용되는 모듈 X 

## 함수 INPUT
    df, short_n, long_n, signal_n
## 설계 
    input에서 받아온 df에서 종가만을 따로 땀
    단기, 장기, MACD, 시그널, 오실레이터 구하기 
    return MACD, Signal, Oscillator

In [46]:
import FinanceDataReader as fdr 

df = fdr.DataReader("005930", start='2021', end='2022')
df

             Open   High    Low  Close    Volume    Change
Date
2021-01-04  81000  84400  80200  83000  38655276  0.024691
2021-01-05  81600  83900  81600  83900  35335669  0.010843
2021-01-06  83300  84500  82100  82200  42089013 -0.020262
2021-01-07  82800  84200  82700  82900  32644642  0.008516
2021-01-08  83300  90000  83000  88800  59013307  0.071170
...           ...    ...    ...    ...       ...       ...
2021-12-24  80200  80800  80200  80500  12086380  0.007509
2021-12-27  80600  80600  79800  80200  10783368 -0.003727
2021-12-28  80200  80400  79700  80300  18226325  0.001247
2021-12-29  80200  80200  78500  78800  19794795 -0.018680
2021-12-30  78900  79500  78100  78300  14236700 -0.006345

[248 rows x 6 columns]

In [48]:
def macdOscillator_fn(df, short_n, long_n, signal_n):
    df = df[['Close']].copy()

    
    df['Short'] = df['Close'].ewm(span=short_n, adjust=False).mean()
    df['Long'] = df['Close'].ewm(span=long_n, adjust=False).mean()
    df['MACD'] = df['Short'] - df['Long']
    
    df['Signal'] = df['MACD'].ewm(span=signal_n, adjust=False).mean()
    df['MACD Oscillator'] = df['MACD'] - df['Signal']

    return df[['MACD', 'Signal', 'MACD Oscillator']]

In [50]:
macdOscillator_fn(df, 9, 26, 13)

                   MACD       Signal  MACD Oscillator
Date
2021-01-04     0.000000     0.000000         0.000000
2021-01-05   113.333333    16.190476        97.142857
2021-01-06   -18.469136    11.239103       -29.708239
2021-01-07   -27.678829     5.679398       -33.358228
2021-01-08   708.872195   106.135512       602.736683
...                 ...          ...              ...
2021-12-24  2174.951266  1803.111668       371.839598
2021-12-27  2211.386056  1861.436581       349.949475
2021-12-28  2218.206107  1912.403656       305.802451
2021-12-29  2001.506794  1925.132676        76.374119
2021-12-30  1748.373870  1899.881418      -151.507548

[248 rows x 3 columns]